@{
    ViewData["Title"] = "Error";
}

<meta http-equiv="refresh" content="2;url=/" />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Wrong input</h3>
<p>
    <strong>Carefully check input parameters. And stop playing around...</strong>
</p>
