@model WebApplication3.Models.DialogueFormContainer
@{
    ViewData["Title"] = "Выбор пользователя";
}
<!DOCTYPE html>
<h4>@Model.ownerName</h4>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cписок пользователей</h5>
                <ul>
                    @if (Model.Users == null || Model.Users.Count() == 0)
                    {
                        <li>
                            Список пуст
                        </li>
                    }
                    else
                    {
                        @foreach (var user in Model.Users.Where(u => u != Model.ownerName))
                        {
                            <li>
                                <a href="/Home/Main?ownerName=@Model.ownerName&partnerName=@user">@user</a>
                            </li>
                        }
                    }
                </ul>
                <a href="/Home/PreMain?user=@Model.ownerName" class="card-link">Обновить список</a>
            </div>
        </div>
    </div>
</div>