@{
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>

<h4>Регистрация</h4>
<form method="post">
    <div class="form-group">
        <p><input type="text" class="form-control col-6 col-sm-4" placeholder="Введите имя" name="Name"></p>
    </div>
    <div class="form-group">
        <p><input type="password" class="form-control col-6 col-sm-4" placeholder="Введите пароль" name="Password"></p>
    </div>
    <p><button type="submit" class="btn btn-light">Зарегистрироваться</button></p>
</form>
